{% extends "blog/base.html" %}
{% block title %}My Titoli{% endblock %}
{% block content %}
  <h1>My Clienti prova clienti</h1>
  {% for post in posts %}

    <h1> {{ post.codtit2 }}</h1>
    <h1> {{ post.codisintit2 }}</h1>
    <h1>{{posts}}</h1>


    <h1>
    

        <a href="{{ post.get_absolute_url }}">{{post.codtit2}}</a>

        <a href="{{ titoli.get_absolute_url }}"></a>
       
                     {{ post.codcli }}
                     {{ post.descli }}
      
        </a>


      </h1>


        {{ post.codtit2 }}
        {{ post.codisintit2 }}
        <button type="button" class="btn btn-primary">Primary</button>
    
    <p class="date">
      Published {{ post.codpublishtit2 }} by {{ post.codauthortit2 }}
    </p>
    {{ post.body|truncatewords:30|linebreaks }}
  {% endfor %}
  
  {% include "pagination.html" with page=page_obj %}
{% endblock %}